/*for phone screen*/
@media screen and (max-width:766px) {

    body {
        font-family: 'Sacramento', fallback;
        font-style: italic;
        color: #ffffff;
    }

    #form {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 30%;
    }

    .bg-image {
        /* The image used */
        background-image: url("./assets/background.jpeg");

        /* Add the blur effect */
        filter: blur(30px);

        /* Full height */
        height: 110%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        /* Position the background image at the top of the page */
        position: fixed;
        top: -50px;
        left: -50px;
        width: 110%;
        z-index: -1;
    }

    #heading {
        text-transform: capitalize;
        font-size: 2.5em;
        margin-bottom: 0.1em;
        padding-top: 0.3em;
        color: #ffd900
    }

    .inputs {

        font-family: 'Times New Roman', Times, serif;
        font-size: 1em;
        font-weight: bold;
        color: #ffffff;
        padding: 1em;
        border-radius: 2em;
        margin: 0.2em;
        width: 20em;
        border-width: 0px;
        background-color: rgb(255, 255, 255);
        background: #ffffff6b;
    }

    #submit {
        width: 10.5em;
    }

    @font-face {
        font-family: 'Sacramento';
        src: url('./font/Sacramento-Regular.ttf') format('truetype');
    }

    .container {
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ::placeholder {
        color: rgb(255, 255, 255);
    }

    .inputs:hover {
        cursor: pointer;
    }

    .inputs:hover::placeholder {
        color: rgb(94, 94, 94);
    }

    #inputalignment {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #submit:hover {
        color: rgb(94, 94, 94);
    }
}

/*for tab screen*/
@media screen and (min-width:767px) {

    body {
        font-family: 'Sacramento', fallback;
        font-style: italic;
        color: #ffffff;
    }

    #form {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 30%;
    }

    .bg-image {
        /* The image used */
        background-image: url("./assets/background.jpeg");

        /* Add the blur effect */
        filter: blur(30px);

        /* Full height */
        height: 110%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        /* Position the background image at the top of the page */
        position: fixed;
        top: -50px;
        left: -50px;
        width: 110%;
        z-index: -1;
    }

    #heading {
        text-transform: capitalize;
        font-size: 2.5em;
        margin-bottom: 0.1em;
        padding-top: 0.3em;
        color: #ffd900
    }

    .inputs {

        font-family: 'Times New Roman', Times, serif;
        font-size: 1em;
        font-weight: bold;
        color: #ffffff;
        padding: 1em;
        border-radius: 2em;
        margin: 0.2em;
        width: 20em;
        border-width: 0px;
        background-color: rgb(255, 255, 255);
        background: #ffffff6b;
    }

    #submit {
        width: 10.5em;
    }

    @font-face {
        font-family: 'Sacramento';
        src: url('./font/Sacramento-Regular.ttf') format('truetype');
    }

    .container {
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ::placeholder {
        color: rgb(255, 255, 255);
    }

    .inputs:hover {
        cursor: pointer;
    }

    .inputs:hover::placeholder {
        color: rgb(94, 94, 94);
    }

    #inputalignment {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #submit:hover {
        color: rgb(94, 94, 94);
    }
}

/*for desktop screen*/
@media screen and (min-width:997px) {
    
    body {
        font-family: 'Sacramento', fallback;
        font-style: italic;
        color: #ffffff;
    }

    #form {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 30%;
    }

    .bg-image {
        /* The image used */
        background-image: url("./assets/background.jpeg");

        /* Add the blur effect */
        filter: blur(30px);

        /* Full height */
        height: 110%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        /* Position the background image at the top of the page */
        position: fixed;
        top: -50px;
        left: -50px;
        width: 110%;
        z-index: -1;
    }

    #heading {
        text-transform: capitalize;
        font-size: 2.5em;
        margin-bottom: 0.1em;
        padding-top: 0.3em;
        color: #ffd900
    }

    .inputs {

        font-family: 'Times New Roman', Times, serif;
        font-size: 1em;
        font-weight: bold;
        color: #ffffff;
        padding: 1em;
        border-radius: 2em;
        margin: 0.2em;
        width: 20em;
        border-width: 0px;
        background-color: rgb(255, 255, 255);
        background: #ffffff6b;
    }

    #submit {
        width: 10.5em;
    }

    @font-face {
        font-family: 'Sacramento';
        src: url('./font/Sacramento-Regular.ttf') format('truetype');
    }

    .container {
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ::placeholder {
        color: rgb(255, 255, 255);
    }

    .inputs:hover {
        cursor: pointer;
    }

    .inputs:hover::placeholder {
        color: rgb(94, 94, 94);
    }

    #inputalignment {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #submit:hover {
        color: rgb(94, 94, 94);
    }
}